.loader {
    width:150px;
    height:150px;
    /* background-color: rgb(229, 28, 61) ; */
    border: 20px solid chartreuse;
    border-left: 20px solid black;
    border-radius: 50%;
    animation: rotate 5s  ease-in 0.1s infinite normal;
}
@keyframes rotate {
    from{
        transform: rotate( 0deg );
    }
    to{
        transform: rotate( 360deg);
    }
}