div{
    margin-top: 100px;
    margin-left:50px;
    height: 150px;
    width: 150px;
    background-color: rgb(34, 214, 230);
    border : 2px solid black ;
    border-radius:50%;
    position:absolute;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-delay:  1s; */
    transition:all 2s ease-in 0.2s;
    /* transform: rotate(90deg);
    transform : scale(1,1.5); */
    /* animation-name: colorAnimate ;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:alternate; */
    animation:colorAnimate 2s ease-in 0s infinite normal;
}
@keyframes colorAnimate {
    /* from{ background-color:rgb(34, 214, 230) ;}
    to{background-color: brown;} */
    from{left:0px; }
    to{left:200px;}
}
div:hover {
    background-color : red ;
    /* color:beige ;
    font-size: 20px; */
    /* margin-left:40px;
    transform: scale(1.5,1.5); */
    /* transform: rotate(90deg); */
    /* transform :translateY(150px); */
    /* transform: skew(45deg); */
}
/* div:active  {
    background-color : rgb(243, 40, 185) ;
    color:beige ;
} */
/* @media (width : 600px) {
    div{
        background-color: blueviolet;
    }
} */
/* @media (max-width : 300px) {
    div{
        background-color: rgb(43, 226, 98);
    }
}
@media (min-width : 300px) and (max-width : 400px) {
    div{
        background-color: pink;
    }
}
@media (min-width : 400px) and (max-width : 600px) {
    div{
        background-color: red;
    }
}
@media (max-width : 600px) {
    div{
        background-color: blue;
    }
} */