
/*
div{
    color :black;
    position: fixed;
    right : 0px;
    top : 50px;
    height :100px;
    width :100px;
    background-color: rgb(219, 18, 38);
    background-image: url("bird_photo.jpg");
    background-size: cover;
} */
/* body{
    background-color: rgb(219, 125, 189);
    text-align:center ;
    color : rgb(255, 255, 255);   
}
#container {
    width: 1000px;
    height: 300px;
    border : 2px solid black ;
    display : flex;
    flex-direction:row ;
    justify-content :center;
      flex-wrap: wrap ; 
    align-items :center;
}
div{
    width: 100px;
    height : 100px; 
}
#box1{
    background-color: blueviolet;
    margin:10px;
    display :inline-block;
    border : 2px solid white;
}
#box2{
    background-color: rgb(43, 113, 226);
    margin:10px;
    display :inline-block;
    border : 2px solid white;
}
#box3{
    background-color: rgb(43, 226, 83);
    margin:10px;
    display :inline-block;
    border : 2px solid white;
}
#box4{
    background-color: rgb(226, 43, 43);
 
    margin:10px;
    display :inline-block;
    border : 2px solid white;
}
#box5{
    background-color: rgb(249, 219, 20);
 
    margin:10px;
    display :inline-block;
    border : 2px solid white;
} */


ul{
    background-color:black ;
    display:flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color:rgb(240, 26, 204);
    background-color: aqua;
}
li{
    list-style-type:none;
    background-color: crimson;
}
.outer {
    height: 400px;
    width : 400px;
    background-color: chocolate;
    display:flex;
    justify-content: center;
    align-items: center ;
}
.inner {
    height: 100px;
    width : 100px;
    background-color :chartreuse;
}